@using PagedList.Mvc
@{
	ViewBag.Title = "Left";
	Layout = null;
}
@{
	var list = ViewBag.data as PagedList.IPagedList<SPC.Models.SamplDatas>;
}

<h2>@ViewBag.Data</h2>
@Html.Partial("~/Views/Shared/Select2.cshtml")
<div id="content">
	<table id="datas" class="table table-bordered text-center">
		<tr>
			<th>编号</th>
		</tr>		
	</table>
</div>
@Scripts.Render("~/Scripts/layout/Select2.js")